doctype html
html(lang="en")
  head
    title= Manage
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script(src="/manager.js")
    style.
      body {
        background: black;
      }

      .picture {
        display: inline-block;
      }
  body
    h1 Click to delete
    - each picture in pictures 
      div( 'data-path'=picture.path).picture
        img( src=picture.thumbnail, width=240, height=240 ) 
        
